name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: []
    steps:
      - name: Checkout code
        id: checkout-code
        uses: actions/checkout@v2

      - name: Setup Go environment
        uses: actions/setup-go@v2
        with:
          go-version: ^1.18

      - name: Test
        run: make test

      - name: Build all artifacts
        run: make build-all

      - name: Create changelog
        id: changelog
        uses: innobead/github-release-notes-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release and upload artifacts
        id: upload-release-asset
        run: |
          set -x

          assets=()

          while IFS= read -r -d '' f; do
            if [[ -f "$f" ]]; then
              assets+=("-a" "./$f")
            fi
          done < <(find ./target -print0)

          tag_name="${GITHUB_REF##*/}"
          hub release edit -d "${assets[@]}" -m "" "$tag_name"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHANGELOG: ${{ steps.changelog.outputs.changelog }}
